<!DOCTYPE html>
<html>
  <head>
    <title><%= title %>(version:<%= version%>)</title>
  <%- include head.ejs %>
  </head>
<body id="ng-app" ng-app="dashboardApp">

  <div ng-controller="dashboardCtr" class="container">
    <h2>{{dashboardConfig.project}}</h2>
    <div dashboard>
        <div jenkins=""></div>
        <div panel>
            <div sonar=""></div>
            <div green-monitor=""></div>
            <div jira=""></div>
        </div>
    </div>
  </div>
<%- include contributed.ejs %>
<%- include script.ejs %>

  </body>
</html>